<div class="">
  <div class="">
        {{ 'product-1' | placeholder_svg_tag }}
   
    <div>
    
        <span class="text-gray-300">Vendor</span>
   
        <h4 class="text-red-500">Stock</h4>
 
      <a href="{{ product.url }}">
        <h4 class="text-md font-bold">Title</h4>
      </a>
      <h4>$25.00</h4>
    </div>
  </div>
</div>
